body {
    background-color: rgb(238, 222, 229);
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main {
    background-color: rgb(238, 222, 229);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.place {
    border: 2px solid black;
    border-radius: 15px;
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    padding-top: 0px;
    margin: 15px;
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

.img {
    width:150px;
    height: auto;
    border-radius: 10px;
}

.thumbnail {
    width: 100px;
    height: auto;
}

.location {
    font-style: italic;
}

.page_buttons {
    margin-top: 15px;
    font-weight: bold;
}

.header {
    background-color: rgba(170, 99, 236, 0.897);
    justify-content: center;
    align-content: center;
    font-weight: 800;
    padding: 10px;
    text-decoration: none;
}

.spinner {
    display: inline-block;
    justify-self: center;
    position: relative;
    width: 200px;
    height: 200px;
}

.spinner:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: spinner 1.2s infinite;
}

@keyframes spinner {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

